.header {


  &__main {
    padding-top: 8.8rem;
    background-color: $grey-dark;
    // width: 100%;
    // height: 100vh;
    margin-top: 2rem;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    z-index: -9999;

    @include respond (big-phone) {
      padding-top: 2.4rem;
      border-radius: 3.2rem 3.2rem 0 0;

    }

    @include respond (sm-phone) {
      padding-top: 2rem;
    }

    .text-box {
      display: flex;
      // justify-content: center;
      // align-items: center;
      z-index: 999;

      @include respond (big-phone) {
        flex-direction: column;

        .stats {

          align-self: flex-end;
          order: 2;
          margin-top: 3rem;
        }

        h1 {
          text-align: center;
        }

        a {
          justify-self: flex-start;
          align-self: center;

          order: 1;
        }
      }

      @include respond (phone) {
        flex-direction: column;

        .stats {

          align-self: flex-start;
          order: 1;
          margin-top: 3.2rem;
        }

        h1 {
          text-align: start;
        }

        a {
          justify-self: center;
          align-self: flex-start;

          order: 2;
        }
      }

      .cta-box {
        display: flex;
        flex-direction: column;
        padding-left: 9.5rem;

        @include respond (tab-port) {
          padding-left: 3.6rem;
        }

        @include respond (big-phone) {
          padding-left: 0;
        }



        .stats {
          display: flex;
          // justify-content: center;
          align-items: center;
          gap: .8rem;
          margin: 1.2rem 0 3.8rem;

          @include respond (big-phone) {
            margin: 2rem 0 0;
          }


        }




        .composition {
          width: 4rem;
          height: 4rem;
          align-self: flex-start;

          img {
            width: 100%;
          }

        }
      }


    }

    .cta {
      background-color: transparent;
      border: 1px solid $color-primary;
      border-radius: 12.2rem;
      justify-self: flex start;
      align-self: flex-start;
      padding: .6rem .6rem .6rem 3.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;


      @include respond (big-phone) {
        margin: 3.2rem 0 0;
      }





    }

    .btn-arr {
      background-color: $color-accent;
      height: 4.9rem;
      width: 4.9rem;
      // margin-right: 0.6rem;
      position: relative;
      border-radius: 4rem;

      @include respond (phone) {
        height: 3rem;
        width: 3rem;
        padding: .3rem;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }

      position: relative;
    }


    &--hero-img {
      height: 80vh;
      width: 100%;
      position: absolute;
      top: 40vh;
      // object-fit: contain;
      object-position: center;
      z-index: -1;
      // overflow-x: hidden;

      @include respond (phone) {
        height: 60vh;
        // width: 1110px;
        top: 20vh;
        object-fit: cover;

      }



      img {
        width: 100%;
        height: 100%;
        position: relative;
      }




      .overlay {
        background-image: $gradient ;
        position: absolute;
        height: 100%;
        width: 100%;
        top: -10px;

        // transform: translatey(-112.6vh);
        @include respond (phone) {
          height: 60vh;
          // width: 1110px;


        }
      }

    }

  }


  .marquee {

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;
    padding: 2rem 1rem;
    position: fixed;
    bottom: 2rem;


    @include respond (tab-port) {
      padding: 1rem .5rem;
      bottom: 1.5rem;
    }

    @include respond (phone) {
      bottom: 0rem;
    }

    .marquee-text {
      display: inline-flex;
      justify-content: center;
      align-items: center;


      span {
        font-size: 2rem;
        line-height: 130%;
        padding: 0 6rem;
        letter-spacing: 2px;
      }
    }
  }
}