.header {
  // height: 130vh;\


  &__main {
    padding-top: 8.8rem;
    background-color: $grey-dark;
    background-blend-mode: darken;
    margin-top: 2rem;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    z-index: -1;


    @include respond (phone) {
      padding-top: 2rem;
    }


    .text-box {
      display: flex;
      z-index: 9;


      .box {
        flex: 1;
      }

      @include respond (big-phone) {
        flex-direction: column;
        // padding: 6vw;
        align-items: start;
        justify-content: start;
        width: 80%;
        gap: 1rem !important;

      }

      @include respond (phone) {
        flex-direction: column;
        // padding: 6vw;
        align-items: start;
        justify-content: start;
        width: 80%;
        gap: 3rem;

      }



      .cta-box {
        display: flex;
        flex-direction: column;
        padding-left: 9.5rem;
        flex: 1;

        @include respond (tab-port) {
          padding-left: 3.6rem;
        }

        @include respond (phone) {
          padding-left: 0;

        }




        .stats {
          display: flex;
          // justify-content: center;
          align-items: center;
          gap: .8rem;
          margin: 1.2rem 0 3.8rem;




        }




        .composition {
          width: 4rem;
          height: 4rem;
          align-self: flex-start;
          color: $grey-dark;

          img {
            width: 100%;
          }

        }
      }


    }

    .cta {
      background-color: transparent;
      border: 1px solid $color-primary;
      border-radius: 12.2rem;
      justify-self: flex start;
      align-self: flex-start;
      padding: .6rem .6rem .6rem 3.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;








    }

    .btn-arr {
      background-color: $color-accent;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-size: 8rem;
      padding: 2rem;
      position: relative;


      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }





    }


    &--hero-img {
      object-fit: cover;
      object-position: center;
      z-index: -1;
      margin-top: -20rem;
      position: relative;



      @include respond (phone) {
        overflow-x: hidden !important;
        height: 90vh;
        margin-top: -15rem;
        width: 100vw;
      }

      @include respond (sm-phone) {
        overflow-x: hidden !important;
        height: 80vh;
        margin-top: -20rem;
        width: 100vw;
      }





      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        position: relative;
      }




      .overlay {
        background-image: $gradient ;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;


      }

    }

  }


}