$font-family: 'Lufga', sans-serif;
$color-primary-background: #000;
$grey: #151515;
$grey-dark: #151515;
$grey-light: #1C1C1C;
$color-primary: #ffffff;
$color-white: rgba(255, 255, 255, );
$color-white-blur: rgba(255, 255, 255, .5);

$color-accent: #E75F00;
$gradient: linear-gradient(to bottom, #151515 0%, transparent 20%, );
$transparent: (
  rgba(255, 255, 255, 0.268)
);