* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 $color-accent;
}

html {
  // overflow: hidden;

  @include respond(big-phone) {
    overflow: auto;
  }
}


body {
  box-sizing: border-box;
  background-color: $color-primary-background;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  // overflow: hidden;

}

.input:focus {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}