body {
  font-family: $font-family;
  font-weight: 400;


}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // 1rem = 9px, (9/16) * 100
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // 1rem = 8px, (8/16) * 100
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1rem = 12px, (12/16) * 100
    font-size: 75%;
  }
}



.heading-primary {
  font-size: 6rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;

  .accent {
    color: $color-accent;
  }
}

.description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: $color-white;

}

.stats-text {
  .block {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0px;
    display: block;
    color: $color-white;

  }
}

.input::placeholder {
  font-family: $font-family;
  font-size: 1.2rem;
  color: $color-primary;

  display: flex;
  justify-content: center;
  align-items: center;
}