.container {
  padding: 0 7vw;

  @include respond (big-desktop) {
    padding: 0 8vw;
  }

  @include respond (tab-land) {
    padding: 0 3 vw;
  }

  @include respond (tab-port) {
    padding: 0 4vw;
  }

  @include respond (big-phone) {
    padding: 0 2rem;
  }

  @include respond (sm-phone) {
    padding: 0 2.8rem;
  }
}